{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 45.7831700801559,
    "longitude": 9.071348905563356,
    "elevation": 200,
    "unit_system_v2": "metric",
    "location_name": "Casa Como",
    "time_zone": "Europe/Rome",
    "external_url": "https://ha.labtube.it",
    "internal_url": null,
    "currency": "EUR",
    "country": "IT",
    "language": "en"
  }
}